logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
.idea/
/front/node_modules
/api/node_modules
/front/dist/
/front/package-lock.json
/api/package-lock.json
*/*.js
/api/db/*.js
/api/service/*.js
/api/db/*.js.map
/api/service/*.js.map
*/*.js.map
!*/*.conf.js
