<form [formGroup]="formEdit" (ngSubmit)="onSubmit(formEdit)">
  <h1 mat-dialog-title>Edit post</h1>
  <mat-dialog-content>
    
    <mat-form-field>
      <input class="field" matInput formControlName="title" placeholder="Enter title">
    </mat-form-field>
    <mat-form-field>
      <textarea class="field" matInput formControlName="body" placeholder="Enter body"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input class="field" matInput formControlName="userId" placeholder="Enter user ID">
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit" color="primary">SAVE</button>
    <button mat-button type="button" color="primary" mat-dialog-close>CANCEL</button>
  </mat-dialog-actions>
</form>