<mat-card class="content-box">
  <mat-card-title>Comments</mat-card-title>
  <mat-table #table [dataSource]="comments">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let comment"> {{comment.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="body">
      <mat-header-cell *matHeaderCellDef> Body </mat-header-cell>
      <mat-cell *matCellDef="let comment"> {{comment.body}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'body']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'body'];"></mat-row>

  </mat-table>

</mat-card>
