<a mat-fab class="add-task" (click)="goBack()">
  <mat-icon>keyboard_backspace</mat-icon>
</a>

<mat-card class="content-box">
  <mat-card-title *ngIf="!edit; else editField">{{ post?.title }}
    <button class="edit-btn" mat-icon-button (click)="openEditField()"> <!-- (click)="updatePostField()" -->
      <mat-icon aria-label="Edit title">
        mode_edit
      </mat-icon>
    </button>
  </mat-card-title>
  <ng-template #editField>
    <mat-card-title>
      <mat-form-field>
        <input matInput [value]="post.title" [(ngModel)]="title" placeholder="Title">
      </mat-form-field>
      <button mat-button (click)="updatePostField()">SAVE</button>
      <button mat-button (click)="closeEditField()">CANCEL</button>
    </mat-card-title>
  </ng-template>
  <mat-card-content>{{ post?.body }}</mat-card-content>
  <button mat-button color="primary" [routerLink]="['comments']">COMMENTS</button>
</mat-card>
<router-outlet></router-outlet>