@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	margin: 0;
	padding: 0;
}
.add-task, .back {
	position: absolute;
	top: -28.5px;
	left: 20px;
}

.footer {
	width: 172px;
	margin: 8px auto;
}
